{{ form_start(form) }}
<div class="row">
	<div class="col">
		<img width="150" height="150" src="{{ asset('uploads/images/' ~ formation.imageFileName) }}"/>
		{{ form_row(form.image) }}
	</div>
	<div class="col">
		{{ form_row(form.name) }}
	</div>
</div>


{{ form_row(form.content) }}

<div class="row">
	<div class="col">{{ form_row(form.capacity) }}</div>
	<div class="col">{{ form_row(form.price) }}</div>
</div>
<div class="row">
	<div class="col">{{ form_row(form.startDateTime) }}</div>
	<div class="col">{{ form_row(form.endDateTime) }}</div>
</div>

<div class="row">
	<div class="col">{{ form_row(form.speaker) }}</div>
	<div class="col">{{ form_row(form.createdBy) }}</div>
</div>
<button class="btn btn-outline-dark">
	<i class="fa-solid fa-check"></i>
	{{ button_label|default('') }}</button>
{{ form_end(form) }}
