{% extends 'base.html.twig' %}

{% block title %}{{'New Category'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create New Category'|trans}}</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}" class="btn btn-outline-dark">{{'Back to list'|trans}}</a>
{% endblock %}
