<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
			<link rel="stylesheet" href="starter-template.css">
		  	<link href="/css/fontawesome.css" rel="stylesheet">
 		 	<link href="/css/brands.css" rel="stylesheet">
  			<link href="/css/solid.css" rel="stylesheet">
			<link rel="stylesheet" href="style.css">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/page/1">FC-PRO</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/page/1">Accueil</a>
						</li>


						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/catalog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ 'Formations'|trans }}
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/formation/catalog">{{ 'Our Formations'|trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="/formation/catalog">{{ 'Formations Incoming'|trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">{{ 'Give Your Opinion'|trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">{{ 'Suggest a Formation'|trans }}</a>
								</li>
							</ul>

							{% if is_granted('ROLE_ADMIN') %}

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										{{ 'Pages'|trans }}
									</a>

									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="/page">{{'Pages index'|trans }}</a>
										</li>
										<li>
											<a class="dropdown-item" href="/page/new">{{'Create Page'|trans }}</a>
										</li>
									</li>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ 'Formations'|trans }}
							</a>

							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/formation">{{'Formations index'|trans }}</a>
								</li>
								<li>
									<a class="dropdown-item" href="/formation/new">{{'Create Formations'|trans }}</a>
								</li>
                			</ul>
							</li>
						{% endif %}
					</li>
				</li>
			</ul>
			<ul class="navbar-nav align-right">
				<li class="nav-item">
					{% if app.user %}
						<a class="nav-link" href="/logout">{{ 'Sign Out'|trans }}</a>
					{% else %}
						<a class="nav-link" href="/register">{{ 'Register'|trans }}</a>
					</li>
				</li>
				<li>
					<a class="nav-link" href="/login">{{ 'Login'|trans }}</a>
				</li>
			{% endif %}
		</li>
		<li class="nav-item">
			<a class="nav-link" aria-current="page" href="/page/2">Mentions Légales</a>
		</li>
	</body>
</html></ul></div></div></nav><div class="col-lg-8 mx-auto p-4 py-md-5"><main>{% block body %}{% endblock %}</main><footer class="pt-5 my-5 text-muted border-top">Created by the SIO team &middot; &copy;</footer></div></body></html>
